<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AuraScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AuraScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AuraScreen.Properties.Settings>
            <setting name="CF_OnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CF_Width" serializeAs="String">
                <value>930</value>
            </setting>
            <setting name="CF_Height" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="CF_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CF_DoInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CF_Style" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="CF_DoBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CF_BorderSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CF_BorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="keepInTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HK_ToggleCF" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="HK_InvertCF" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="HK_EnlargeCF" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="HK_ShrinkCF" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="HK_CycleBF" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="BF_Location" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CF_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CF_Opacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="BF_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BF_Opacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="AO_Opacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="AO_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AO_ByName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AO_SavedName" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="SF_OnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SF_Programs" serializeAs="String">
                <value>firefox.exe;chrome.exe</value>
            </setting>
            <setting name="SF_OnActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SF_LastUsed" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="HK_LockCF" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="CI_File" serializeAs="String">
                <value />
            </setting>
            <setting name="CI_Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CI_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CI_OnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CF_SizeIncrement" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="CF_InversionToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HK_CycleSF" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HK_SFOnActive" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HK_ToggleSF" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HK_ToggleAO" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HK_ToggleBF" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HK_ShowConfig" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="HK_KillSwitch" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AppInvertLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TB_AutoHide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HK_ShowTB" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="TB_Cursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AO_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AO_InvertTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BF_Width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="BF_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BF_Height" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="BF_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HK_EditBF" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="AO_OnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BF_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BF_InvertTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="tileKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BF_Scroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="test2" serializeAs="String">
                <value>test2</value>
            </setting>
            <setting name="tbHeight" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="tbWidth" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="tbPad" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="doAdjust" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useAltInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterInUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnterEditMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWelcomeScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AO_DontAttatchToAS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CF_Flip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CF_DoTexture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CF_Texture" serializeAs="String">
                <value />
            </setting>
            <setting name="BF_DoTexture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BF_Texture" serializeAs="String">
                <value />
            </setting>
            <setting name="AO_DoTexture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AO_Texture" serializeAs="String">
                <value />
            </setting>
            <setting name="SF_DoCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SF_Custom" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_Theme" serializeAs="String">
                <value>Default</value>
            </setting>
        </AuraScreen.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AuraScreen.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>test</value>
            </setting>
        </AuraScreen.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>