<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AirScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AirScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AirScreen.Properties.Settings>
            <setting name="onStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>930</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="style" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="border" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="borderThicc" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="borderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="keepInTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableHK" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="invertHK" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="enlargeHK" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="shrinkHK" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="cycleHK" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="tileMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cursorLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="tileColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="tileOpacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="AO_Opacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="AO_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AO_ProcessByName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AO_SavedName" serializeAs="String">
                <value>firefox.exe</value>
            </setting>
            <setting name="Filter_OnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter_Programs" serializeAs="String">
                <value>firefox.exe;chrome.exe</value>
            </setting>
            <setting name="Filter_OnActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter_LastUsed" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="cursorLockHK" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="CursorFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CursorIdleTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CursorIdle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CursorStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ESSize" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="InversionToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SF_CycleHK" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SF_ProgramHK" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SF_ToggleHK" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AO_ToggleHK" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BF_ToggleHK" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SettingsHK" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="KillHK" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AppInvertLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideToolBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="toolboxHK" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="toolboxCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AO_Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AO_InvertTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="tilesMW" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="tilesMX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tilesMH" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="tilesMY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tilesMHK" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="AO_OnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tileInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tileTimer" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="tileKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tileScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="test2" serializeAs="String">
                <value>test2</value>
            </setting>
            <setting name="tbHeight" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="tbWidth" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="tbPad" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="doAdjust" serializeAs="String">
                <value>False</value>
            </setting>
        </AirScreen.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AirScreen.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>test</value>
            </setting>
        </AirScreen.Properties.Settings>
    </applicationSettings>
</configuration>